env {
  parallelism = 1
  job.mode = "BATCH"
}

source {
  Jdbc {
    url = "jdbc:mysql://source-mysql:3306/devops_src?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai"
    driver = "com.mysql.cj.jdbc.Driver"
    user = "__MYSQL_USER__"
    password = "__MYSQL_PASSWORD__"
    query = "SELECT id, project_id, object_type, status_code, is_deleted, created_at, updated_at, actual_start, actual_end FROM story WHERE updated_at > '__CURSOR__' AND updated_at <= '__UPPER__' ORDER BY updated_at, id"
    fetch_size = 10
  }
}

sink {
  Jdbc {
    url = "jdbc:postgresql://warehouse:5432/__DBNAME__"
    driver = "org.postgresql.Driver"
    user = "postgres"
    password = "__PG_PASSWORD__"
    generate_sink_sql = true
    database = "poc01"
    table = "raw_landing.story_batch"
  }
}
